<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="../lib/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="../js/index.js"></script>
   
</head>
<body>

<div data-role="page" id="homePage">
    <div data-role="heade">
        <h1 style="text-align: center;">Welcom!!</h1>
    </div>

    <div role="main" class="ui-content welcome-page">
        <img src="../img/image.png" alt="Welcome" class="welcome-image">
        <p class="welcome-message">Make your to-do list easily!</p>
        <a href="../index.html" class="ui-btn ui-corner-all ui-shadow ui-btn-b">To Do List</a>
    </div>
    
</div>

</body>
</html>
